

/* positioning */   

.content-header{
  font-weight: bold;
  font-size: 18px;
}

.content-text{
}

@media (max-width: 768px) {
    .content-header {
        font-size: 16px;
    }

    .content-text {
        font-size: 14px;
    }
}
